/* Tablet */
 
article {
	width: 50%;
	position: absolute;
	top: 30%;
	height: 270px; }
	
article img {
	height: 40%;
	width: 40%; }
 
#big {
	height: 410px;
	width: 55%;
	top: 0; }
 
body { width: 95%; } 
 
footer { }
	footer nav ul li { margin-right: 140px; }
 
h3 { }
 
header { }

.lifestyle { width: 250px; }

.logo { 
	margin-right: 40px; }	
 
.logo img { }
 
nav { z-index: 999; }
 
	nav ul { }
 
		nav ul a {}
 
		nav ul li {	font-size: 90%; }
 
p {
	font-size: 12px;
	line-height: 1.9em; }

 
section { }
 
 
.slideshow { max-width: 100%; max-height: 420px; }
  
/* JS disabled styles */
.no-js nav li:hover ul { display:block; }

/* base nav styles */
nav li { position:relative; float:left; list-style-type:none; z-index: 999; }
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a:focus { outline:none; text-decoration:underline; }
nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }
nav a span { display:block; float:right; margin-left:5px; }
nav ul ul { display:none; min-width:100%; position:absolute; left:0; top: 100%; background: rgba(15,21,33,1); margin: 0; padding: 20px 0 10px 0; }
nav ul ul li { float:none; border-left: none; border-bottom: 1px dotted #fff; white-space: nowrap; margin: 0 10px; text-align: center; padding: 10px; }
nav ul ul a { font-size:15px; text-transform: lowercase; font-style: italic;  }

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

article {
	width: 40%;
	height: 170px;
	top: 50%; }

#big {
	width: 40%;
	top: 5%; }

footer { position: fixed; bottom: 0; width: 95%;}

.slideshow { max-height: 440px; }

}