@font-face {
	font-family: BodoniXT;
	src: url(fonts/BodoniXT.ttf);
	font-weight: 400; }
	
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin styles */
 
 
article {
	background: rgba(15,21,33,0.7);
	width: 600px;
	color: white;
	position: absolute;
	top: 450px;
	height: 180px;
	padding: 20px;
	float: left;
	z-index:6; }
	
article img {
	border: 1px solid #fff; }
 
#big {
	width: 400px;
	position: absolute;
	top: 200px;
	z-index: 999;
	height: 540px;
	padding: 20px; }
 
 
body {
	background-image: url(../images/privilege_flower_bg.jpg);
	background-repeat: repeat;
	margin: 0 auto;
	width: 1000px;
	padding: 0;
	font-family: Palatino, Times, serif; }
 
 
.clear { clear: both; }
 
 
footer {
	color: #fff;
	border-top: 1px solid #826440;
	font-size: 15px; }
 
	footer nav ul li { border-left: none; }
 
 
h3 {
	color: #fff;
	font-size: 24px;
	padding: 0;
	margin: 0;
	font-weight: normal; }
 
 
header {
	background: rgba(15,21,33,0.7);
	margin: 0;
	padding-top: 40px; }

img, object { max-width: 100%; zoom: 1; }
	
.left {
	float: left;
	margin-right: 10px; } 
 
.logo {
	border-left: none;
	padding: 0;
	margin: 0 200px 0 30px; }
 
 
nav {
	font-weight: 100;
	background: #0f1521;
	padding: 10px 0 0 0;
	position: relative;
	z-index: 999; }
 
	nav ul {
		list-style: none;
		margin: 20px 0 0 0; }
 
		nav ul a {
			color: #fff;
			text-decoration: none;
			text-transform: uppercase; }
 
			nav ul a:hover { color: #84b778; }
 
		nav ul li {
			float: left;
			padding: 5px 10px;
			border-left: 1px solid #fff;
			margin: 5px; }
 
 
p {
	line-height: 2em;
	font-size: 13px;
	font-weight: 100;
	margin: 0 0 10px 0; }

.right { float: right; margin-left: 10px; } 
 
section {
	padding: 0 25px 50px 25px;
	background: #0f1521; }
 
 
.slideshow {
	height: auto;
	max-width: 100% !important;
	display: block;
	position: relative; }
 
	.slideshow img { padding: 0; width: 100% !important; height: auto !important; display: block; }
 
.span1 { width: 100px; }
.span2 { width: 200px; }
.span3 { width: 300px; }
.span4 { width: 400px; }
 

/* JS disabled styles */
.no-js nav li:hover ul { display:block; }

/* base nav styles */
nav li { position:relative; float:left; list-style-type:none; z-index: 999; }
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a:focus { outline:none; text-decoration:underline; }
nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }
nav a span { display:block; float:right; margin-left:5px; }
nav ul ul { display:none; min-width:100%; position:absolute; left:0; top: 100%; background: rgba(15,21,33,0.7); margin: 0; padding: 20px 0 10px 0; }
nav ul ul li { float:none; border-left: none; margin: 0; border-bottom: 1px dotted #fff; white-space: nowrap; margin: 0 10px; text-align: center; }
nav ul ul a { font-size:14px; text-transform: lowercase; font-style: italic; }